source https://api.nuget.org/v3/index.json
framework >= net45

nuget Microsoft.AspNet.WebApi.Client 5.2.4
nuget Newtonsoft.Json 11.0.2
nuget Seq.Apps 4.2.470
nuget Serilog 2.6.0

group Latest
    source https://api.nuget.org/v3/index.json
    framework >= net45

    nuget Microsoft.AspNet.WebApi.Client
    nuget Newtonsoft.Json 
    nuget Seq.Apps 
    nuget Serilog 